fastapi
pydantic
syntok
uvicorn
psycopg2-binary
SQLAlchemy
python-dotenv
pgvector
openai>=1.3.0
numpy
scikit-learn>=1.2.0
umap-learn
pdfplumber
requests
trafilatura
python-multipart
apscheduler
pytest
pytest-asyncio
httpx
vbub-doc-ingestion @ git+https://github.com/doc1000/vbub-doc-ingestion.git@2170127982df84b951e93cf948c1f4bafb0d39cb